html[data-timeline-component-sample],
html[data-timeline-component-sample] body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

html[data-timeline-component-sample] section {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

[data-timeline-component] {
    width: 100%;
}

[data-timeline-component] .date {
    background-color: rgba(250, 209, 121, 0.71);
    border-radius: 50%;
    border: 1px solid rgb(147, 137, 161);
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
